.main {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.resultBox {
    width: 45%;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    min-height: 15rem;
}

.songs {
    list-style-type: none;
}