.song {
    border: 1px solid black;
    list-style-type: none;
}

.songContainer {
    display: flex;
    list-style-type: none;
}

.songContainer .imageContainer {
    height: 100px;
    width: 100px;
    overflow: hidden;  
}

.songContainer .imageContainer img {
    height: auto;
    max-width: 100%;
    display: block;
}