.App {
  
}

.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px;
}

.Heading {
  width: 80%;
  display: inline-block;
}

.Heading h1 {
  margin-bottom: 2%;
}

.Spotify {
  font-size: .8em;
  font-weight: 350;
  margin-left: 0.5em;
}

.Logo {
  height: 50px;
  width: 50px;
  overflow: hidden;
  margin-left: 2.5em;
}

.Logo img {
  height: auto;
  max-width: 100%;
  display: block;
}

.App-link {
  color: #61dafb;
}
